# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: e5933cc89667678085c2ad2a1f0c76cb92ca01d7cdc1e12c2f19622cebe8211e529391e2d6ea3e5d069a8e1935f16d22ebd40d9867f0b1e6a1b20fb033df75e9

test:
  secret_key_base: 8625b5309887be1e52d526f29a635a7522bc6ef771a5398d683a44f1b28daca99564e09ea07d2d0e7a295092735113e9069d88a6a6e379ea0e9b11d48dc5a9bd

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
